body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins,sans-serif;
    font-family: 23px;
}
.button_login{
    border-radius: 20px;
    color: #fff;
    background-color: rgb(18, 243, 168);
}
.truedotelogo{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.menu_list{
    display: flex;
    color: rgba(124, 58, 237, var(--tw-text-opacity));
}
.uppercase{
    text-transform: uppercase;
}